/* DroppableStack styles */

:local(.styles) {
  position: absolute;
  top: 50%;
  background: #00f;
  border-radius: .375em;
  user-select: none;

  @media screen and (max-width: 768px) {
    & {
      top: 40%;
    }
  }
  @media screen and (max-width: 480px) {
    & {
      top: 30%;
    }
  }
}
