/* Table styles */

:local(.styles) {
  position: relative;
  max-width: 95%;
  height: 100%;
  margin: 0 auto;
  user-select: none;
  background: url('/dist/table-background.png') no-repeat local center;
  background-size: 100% 100%;

  overflow-x: hidden;
  overflow-y: auto;

  button[type='button'] {
    margin: 0.5%;
    z-index: 20;
  }

  /* Deck styles */
  & div[id*='-of-'] {
    position: absolute;
    padding: .5px;
    margin: 0;
    display: inline-block;
    border-radius: .375em;
    background-repeat: no-repeat;
    background-size: 100% !important;
  }

  & #ace-of-clubs {
   background: url('/dist/cards/ace_of_clubs.svg');
  }
  & #two-of-clubs {
   background: url('/dist/cards/2_of_clubs.svg');
  }
  & #three-of-clubs {
   background: url('/dist/cards/3_of_clubs.svg');
  }
  & #four-of-clubs {
   background: url('/dist/cards/4_of_clubs.svg');
  }
  & #five-of-clubs {
   background: url('/dist/cards/5_of_clubs.svg');
  }
  & #six-of-clubs {
   background: url('/dist/cards/6_of_clubs.svg');
  }
  & #seven-of-clubs {
   background: url('/dist/cards/7_of_clubs.svg');
  }
  & #eight-of-clubs {
   background: url('/dist/cards/8_of_clubs.svg');
  }
  & #nine-of-clubs {
   background: url('/dist/cards/9_of_clubs.svg');
  }
  & #ten-of-clubs {
   background: url('/dist/cards/10_of_clubs.svg');
  }
  & #jack-of-clubs {
   background: url('/dist/cards/jack_of_clubs.svg');
  }
  & #queen-of-clubs {
   background: url('/dist/cards/queen_of_clubs.svg');
  }
  & #king-of-clubs {
   background: url('/dist/cards/king_of_clubs.svg');
  }
  & #ace-of-spades {
   background: url('/dist/cards/ace_of_spades.svg');
  }
  & #two-of-spades {
   background: url('/dist/cards/2_of_spades.svg');
  }
  & #three-of-spades {
   background: url('/dist/cards/3_of_spades.svg');
  }
  & #four-of-spades {
   background: url('/dist/cards/4_of_spades.svg');
  }
  & #five-of-spades {
   background: url('/dist/cards/5_of_spades.svg');
  }
  & #six-of-spades {
   background: url('/dist/cards/6_of_spades.svg');
  }
  & #seven-of-spades {
   background: url('/dist/cards/7_of_spades.svg');
  }
  & #eight-of-spades {
   background: url('/dist/cards/8_of_spades.svg');
  }
  & #nine-of-spades {
   background: url('/dist/cards/9_of_spades.svg');
  }
  & #ten-of-spades {
   background: url('/dist/cards/10_of_spades.svg');
  }
  & #jack-of-spades {
   background: url('/dist/cards/jack_of_spades.svg');
  }
  & #queen-of-spades {
   background: url('/dist/cards/queen_of_spades.svg');
  }
  & #king-of-spades {
   background: url('/dist/cards/king_of_spades.svg');
  }
  & #ace-of-hearts {
   background: url('/dist/cards/ace_of_hearts.svg');
  }
  & #two-of-hearts {
   background: url('/dist/cards/2_of_hearts.svg');
  }
  & #three-of-hearts {
   background: url('/dist/cards/3_of_hearts.svg');
  }
  & #four-of-hearts {
   background: url('/dist/cards/4_of_hearts.svg');
  }
  & #five-of-hearts {
   background: url('/dist/cards/5_of_hearts.svg');
  }
  & #six-of-hearts {
   background: url('/dist/cards/6_of_hearts.svg');
  }
  & #seven-of-hearts {
   background: url('/dist/cards/7_of_hearts.svg');
  }
  & #eight-of-hearts {
   background: url('/dist/cards/8_of_hearts.svg');
  }
  & #nine-of-hearts {
   background: url('/dist/cards/9_of_hearts.svg');
  }
  & #ten-of-hearts {
   background: url('/dist/cards/10_of_hearts.svg');
  }
  & #jack-of-hearts {
   background: url('/dist/cards/jack_of_hearts.svg');
  }
  & #queen-of-hearts {
   background: url('/dist/cards/queen_of_hearts.svg');
  }
  & #king-of-hearts {
   background: url('/dist/cards/king_of_hearts.svg');
  }
  & #ace-of-diamonds {
   background: url('/dist/cards/ace_of_diamonds.svg');
  }
  & #two-of-diamonds {
   background: url('/dist/cards/2_of_diamonds.svg');
  }
  & #three-of-diamonds {
   background: url('/dist/cards/3_of_diamonds.svg');
  }
  & #four-of-diamonds {
   background: url('/dist/cards/4_of_diamonds.svg');
  }
  & #five-of-diamonds {
   background: url('/dist/cards/5_of_diamonds.svg');
  }
  & #six-of-diamonds {
   background: url('/dist/cards/6_of_diamonds.svg');
  }
  & #seven-of-diamonds {
   background: url('/dist/cards/7_of_diamonds.svg');
  }
  & #eight-of-diamonds {
   background: url('/dist/cards/8_of_diamonds.svg');
  }
  & #nine-of-diamonds {
   background: url('/dist/cards/9_of_diamonds.svg');
  }
  & #ten-of-diamonds {
   background: url('/dist/cards/10_of_diamonds.svg');
  }
  & #jack-of-diamonds {
   background: url('/dist/cards/jack_of_diamonds.svg');
  }
  & #queen-of-diamonds {
   background: url('/dist/cards/queen_of_diamonds.svg');
  }
  & #king-of-diamonds {
   background: url('/dist/cards/king_of_diamonds.svg');
  }
}
