/* DealArea styles */

:local(.styles) {
  position: absolute;
  width: 28.5%;
  left: 8%;
  top: 10%;
  border: 2px solid white;
  padding: 0.5% 4% 0.5% 0.5%;

  & div.reset {
    width: 100%;
    height: 100%;
  }
  & span#left {
    position: relative;
    padding: 0;
    float: left;
  }

  & span#right {
    position: relative;
    display: inline-block;
    padding: 0;
    float: right;
  }
}
